arctic_boreal_random_sample_pts_n10000.dbf
arctic_boreal_random_sample_pts_n10000.prj
arctic_boreal_random_sample_pts_n10000.shp
arctic_boreal_random_sample_pts_n10000.shx
itex_tundra_phenology_database.csv
tmp/